@font-face {
    font-family: 'Nunito';
    src: url('../font/Nunito-Regular.woff2') format('woff2'),
    url('../font/Nunito-Regular.woff') format('woff'),
    url('../font/Nunito-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



* {
    font-family: 'Nunito', sans-serif !important;
}